th-nsw-solar-home/2012-2013 Solar home electricity data v2.csv
/th-nsw-solar-home/model
*.pyc
/th-nsw-solar-home/LLM 聊天记录
/th-nsw-solar-home/代码叠层
/th-nsw-solar-home/结果
/th-nsw-solar-home/spline_csv
/th-nsw-solar-home/spline_plots
/th-nsw-demand-price/data_csvs
